
<div class="col col-lg-4 text-center my-auto">
  <PlayerTurnChoice ChoiceSelected="OnClickChoice"></PlayerTurnChoice>
</div>
<div class="col col-md-2 text-center my-auto">
</div>
<div class="col col-lg-4 text-center my-auto">
  <OpponentPlaceholder />
</div>


@code{
  [ParameterAttribute]
  public EventCallback<Models.Choice> OnClickChoice { get; set; }
}