@page "/"
@using Models


<div class="container h-100">
  <div class="row justify-content-md-center">
    <h1 id="game-title">Rock, paper, scissors!</h1>
  </div>
  <div class="row justify-content-md-center game-area">
  @switch(State)
  {
    case GameState.MakeChoice:
    {
      <StageChooseTurn OnClickChoice="OnClickChoice"/>
      break;
    }
    case GameState.WaitForResult:
    {
      <StageWaitingForResult />
      break;
    }
    case GameState.Result:
    {
      <StageResult Player1Choice="PlayerChoice.Value" Player2Choice="OpponentChoice.Value" WinningPlayerId="WinningPlayerId" NewRound="StartNewGame"/>
      break;
    }    
  }
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-4 text-center">
      <PlayerName Name="You" />
    </div>
    <div class="col col-md-2 text-center my-auto">

    </div>
    <div class="col col-lg-4 text-center">
      <PlayerName Name="Opponent" />
    </div>
  </div>
</div>


@code {
  const int TimeToWait = 3;

  public GameState State { get; set; } = GameState.MakeChoice;

  public Choice? PlayerChoice { get; set; }
  public Choice? OpponentChoice { get; set; }
  public int WinningPlayerId {get;set;}
  private Random r = new Random();


  public async Task OnClickChoice(Choice choice)
  {
    PlayerChoice = choice;
    OpponentChoice = (Choice)r.Next(0, 3);

    State = GameState.WaitForResult;
    await Task.Delay(TimeToWait * 800 - 200);

    CalculateWinner();
    State = GameState.Result;
  }

  public void CalculateWinner()
  {
    if (PlayerChoice == OpponentChoice) WinningPlayerId = 0;
    else if (PlayerChoice == Choice.Paper && OpponentChoice == Choice.Rock) WinningPlayerId = 1;
    else if (OpponentChoice == Choice.Paper && PlayerChoice == Choice.Rock) WinningPlayerId = 2;
    else if (PlayerChoice == Choice.Rock && OpponentChoice == Choice.Scissors) WinningPlayerId = 1;
    else if (OpponentChoice == Choice.Rock && PlayerChoice == Choice.Scissors) WinningPlayerId = 2;
    else if (PlayerChoice == Choice.Scissors && OpponentChoice == Choice.Paper) WinningPlayerId = 1;
    else if (OpponentChoice == Choice.Scissors && PlayerChoice == Choice.Paper) WinningPlayerId = 2;
  }


  public void StartNewGame()
  {
    State = GameState.MakeChoice;
    PlayerChoice = null;
    OpponentChoice = null;
  }
}