
<div class="col col-lg-4 text-center my-auto">
  <WaitingImage />
</div>
<div class="col col-md-2 text-center my-auto">
</div>
<div class="col col-lg-4 text-center my-auto">
  <WaitingImage />
</div>
